
.title
{
    font-size: 15px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    
}

.obs
{
    color:#a8a8a8;
    font-size: 20px;
    margin-left: 40px;
    margin-right: 40px;
    font-family:Arial, Helvetica, sans-serif;
}

body
{
    /*tela toda*/
    width: 100%;
    height: -100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ABCFD8;
}

.container {
   width: 80%;
   height: 80vh; 
   display: flex;
   margin-bottom: 20%;
   overflow: hidden; /* Oculta o conteúdo que exceder o tamanho do container */
   
    
   
}

.form-image{
    border-radius: 50px 0px 0px 50px ;
    width: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #40A2E3;
    padding: 1rem;
    border: 1px solid black; 
    
}

.form-image img 
{
    width: 51rem;
}

.form {
    border-radius: 0px 50px 50px 0px;
    width: 750px; 
    max-width: 50%; /* Limita a largura máxima a 50% */
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    flex-direction: column;
    background-color: #ffffff;
    padding: 3rem;
    border: 1px solid rgb(0, 0, 0);            
    overflow: auto; /* Permite rolagem se o conteúdo exceder o tamanho do formulário */
    position: relative;

}

@media screen and (min-width: 1329px) {
    .form{
        
        max-width: none;
     
     
    }

    
}

@media screen and (max-width: 1329px) {
    .form{
        
        max-width: 75%;
     
     
    }

    
}

@media screen and (max-width: 1259px) {
    .form{
        
        max-width: 75%;
     
     
    }

    
}

@media screen and (max-width: 1235px) {
    .form{
        
        max-width: 80%;
     
     
    }

    
}

@media screen and (max-width: 1159px) {
    .form{
        
        max-width: 85%;
     
     
    }

    
}

@media screen and (max-width:1064px) {
    .form{
        
        max-width: 50%;
        left: 170px;
     
     
    }

    
}


@media screen  and (max-width: 971px ) {
    .form{
    
        left: 170px;
        
    
    }

    .form{
        
        max-width: 60%;
        left: 100px;
     
     
    }


   
}




/*Css do form apagar aluno*/
.formApagar {

    position: relative;
    border-radius: 0px 50px 50px 0px;
    width: 250px; 
    max-width: 50%; /* Limita a largura máxima a 50% */
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start; 
    flex-direction: column;
    background-color: #fff;
    padding: 3rem;
    border: 1px solid rgb(0, 0, 0);            
    border-radius: 50px;
    height: 340px;
    margin-top: 120px;
    left: 15px;
}


.form-header 
{
    
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
 
    
}


.login-button
{
   display:flex;
   align-items: center;
}

.login-button button 
{
    border:none;
    background-color: #6c63ff;
    padding: 0.4rem 1rem;
    border-radius: 5px;
    cursor:pointer;
}

.login-button button:hover
{
    background-color: #6b63fff1;
}

.login-button button a
{
text-decoration:none;
font-weight: 500;
color: #fff;
}

.form-header h1::after 
{

    content:'';
    display:block;
    width: 23rem;
    height: 0.3rem;
    background-color: #ffa404;
    margin: 0 auto;
    border-radius: 10px;
}

.input-group
{
     
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box
{
    
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
}

.input-box input
{
 margin: 0.6rem 0;
 padding: 0.8rem 1.2rem;
 border:none;
 border-radius: 17px;
 box-shadow: 1px 1px 6px #000000c1; 
 text-align: left;
}

.input-box input:hover 
{
    background-color: #eeeeee75;
}

.input-box input :focus-visible
{
    outline: 1px solid #6c63ff;
}

.input-box label, .gender-title h6 
{
    font-family: inherit, Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 600;
    color:#000000c0;
}

.input-box input::placeholder
{
    color: #000000be
}

.serie-group
{
   
    justify-content: space-between;
    margin-top: 0.62rem;
    padding: 0 0.5rem;
}

.serie-input
{
    display: flex;
    align-items: center;
}

.serie-input input
{
    margin-right: 0.35rem;
    
}

.serie-input label
{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 17px;
   
    color: #000000c0;
    margin-bottom: 5px;
}

.continue-button
{
    display:flex;
    justify-content: center;
    align-items: center;
    
}

/*botão formulário*/
.continue-button {
    text-align: center; /* Centraliza o botão dentro do contêiner */
    margin-top: 20px;
    
  }
  
  .btnform {
    background-color: #40A2E3; /* Cor verde para o botão */
    color: white;
    border: none;
    border-radius: 50px;
    padding: 12px 24px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 200px;
    position: absolute;
    
  }

  @media  screen and  (max-width: 1064px ) {
    .btnform{
        left: 150px;

    }

  }

  
  @media  screen and  (max-width: 783px ) {
    .btnform{
        left: 130px;

    }

  }

  @media  screen and  (max-width: 663px ) {
    .btnform{
        left: 110px;

    }

  }

  
  @media  screen and  (max-width: 590px ) {
    .btnform{
        left: 90px;

    }

  }

  @media  screen and  (max-width: 530px ) {
    .btnform{
        left: 80px;

    }

  }
  
  @media  screen and  (max-width: 507px ) {
    .btnform{
        left: 65px;

    }

  }
  
   
  @media  screen and  (max-width: 550px ) {
    .btnform{
        left: 75px;

    }

  }
  
  
    
  
  
  .btnform:hover {
    background-color: #ffa404; /* Tom mais escuro para o hover */
    transform: translateY(-2px); /* Leve elevação no hover */
  }
  
  .btnform:active {
    background-color: #000000; /* Tom mais escuro no clique */
    transform: translateY(1px); /* Efeito de pressão no clique */
  }
  
  .btnform:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(40, 167, 69, 0.5); /* Destaque no foco */
  }
  
/*deixando o site responsivo*/

@media screen and (max-width: 1330px) 
{
    .form-image
    {
        display: none;
    }
    .container
    {
        width: 50%;
    }
    .form
    {
        width: 100%;
        border-radius: 50px 50px 50px 50px ;

    }

}
@media screen and (max-width: 1064px) {
    .container {
        width: 90%;
        height: auto;
    }
    .input-group {
        flex-direction: column;
        z-index: 5;
        padding-right: 5rem;
        max-height: 10rem;
        overflow-y: scroll;
        flex-wrap: nowrap;
    }
    .serie-inputs {
        margin-top: 2rem;
    }
    .serie-group {
        flex-direction: column;
    }
    .gender-title h6 {
        margin: 0;
    }
    .serie-input {
        margin-top: 0.5rem;
    }

}



