
  /*Parte Padrão*/

  html {
    font-size:62.5%;
  }
  * {
    margin: 0;
    padding: 0;
  }
  ul, li {
    list-style: none;
  }
  input {
    border: none;
  }
  body {
      width: 100%;
    }
  
    .fundo {
      width: 100%;
      overflow: hidden;
      position: relative;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #abcfd8;
      min-height: 100vh
    }
    
  
  .banner {
    margin-top: 5px;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    position: relative;
    bottom: 1rem;
  }

  .hamburguer{
    width: 1rem;
    height: 1rem;
    position: absolute ;
    z-index:7;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 3rem;
    top:-1rem;
    cursor: pointer;
    display: none;
    left:0;
  }

  
  
  .hamburguer_exit{
    width: 3rem;
    height: 10rem;
    position: absolute ;
    z-index:5;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 3rem;
    top:5rem;
    cursor: pointer;
    display: block;
    position:fixed;
    bottom: 10rem;

  }

  
   .show-menu .hamburguer{
    right: 16rem;
   }
  
   .line{
    margin-top: 10px;
    width: 100%;
    height: -2px;
    padding: 10px;
    border-radius: 10px;
    background-color:#FFA404
    ;
    box-shadow: #1d8be6;
    transition: transform .7s;
    display: none;
   }
  
   .show-menu #line1{
    transform: rotate(45deg) translate(.4rem,.9rem);
    background-color: pink;
    box-shadow: none;
    
  
   }

   .show-menu #line2{
  opacity: 0; 
  visibility: hidden;
  
   }

   
   .show-menu #line3{
    transform: rotate(45deg) translate(.4rem,.9rem);
    background-color: pink;
    box-shadow: none;
    
  
   }


   .menu{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu-item{
    text-align: center;
    margin-bottom: .5rem;
}

.menu-link{
    font-family:sans-serif;
    font-size: 2rem;
    color:#FFA404
    ;
    transition: color .7s;
}

.menu-link:hover{
    color: rgb(0, 255, 255);
    transition: color .7s;
}

.lista{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  bottom:100px;
  position: absolute;
}

/*Botão do menu-burger*/
.sidebar{
  width: 50rem;
  height: 100%;
  background-color: #1d8be6;
  z-index:5;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  left: -50rem;
  top:5rem;
  cursor: pointer;
  top:0;
  position: fixed;
  transition: 0.7s;
  box-shadow: #535353;

}
.sidebar.active{
left: 0;

}

.textoSidebar{
  font-size: 15px;
}

/* Estilizando os links da sidebar */
.sidebar ul {
  list-style-type: none; /* Removendo os marcadores da lista */
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 10px; /* Espaçamento entre os itens da lista */
}

.sidebar ul li a {
  text-decoration: none; /* Removendo o sublinhado padrão dos links */
  color: white; /* Cor do texto dos links */
  display: block; /* Transformando os links em elementos de bloco para ocupar toda a largura do contêiner */
  padding: 10px; /* Espaçamento interno dos links */
  cursor: pointer;
    margin-left:8%; 
    max-width: 15.1rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2125;
    text-decoration: none; /* Remover o sublinhado padrão dos links */
  transition: color 0.3s, transform 0.3s; /* Adicionar uma transição suave para a cor do texto */
     width: auto;
    font-family: 'Inter', 'Source Sans Pro';
    flex-shrink: 0;
}

.sidebar ul li a:hover {
  color: #555; /* Alterando a cor do texto ao passar o mouse */
}


.sidebar ul li.lista1 {
  margin-bottom: 60px; /* Margem entre o segundo link e o próximo */
}

.sidebar ul li.lista2 {
  margin-bottom: 60px; /* Margem entre o terceiro link e o próximo */
}

.sidebar ul li.lista3 {
  margin-bottom: 60px; /* Margem entre o quarto link e o próximo */
}
.sidebar ul li.lista {
  margin-bottom: 60px; /* Margem entre o primeiro link e o próximo */
}



/*Recolher a sidebar caso o site esteja em tela cheia*/
@media screen and (min-width: 100rem) {
  .sidebar {
    display: none;
  }
}

/**/
@media screen and (max-width: 100rem) 
{
  .hamburguer{
    display: block;
  }


    .line
    {
        display: block;
    }

    .txtBanner{
      display: none;
    }
    
  
    
}

@media screen and (max-width: 1500px) 
{
  .container-menu-burger{
    --menu-size: 48px;
    position: relative;
    display: flex;
    align-items: center;
    height: var(--menu-size);
    width: var(--menu-size);
    right: -700px;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;

  }
  

}

@media screen and (max-width: 1400px) 
{
  .container-menu-burger{
    --menu-size: 48px;
    position: relative;
    display: flex;
    align-items: center;
    height: var(--menu-size);
    width: var(--menu-size);
    right: -700px;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;

  }

}

@media screen and (max-width: 1300px) 
{
  .container-menu-burger{
    --menu-size: 48px;
    position: relative;
    display: flex;
    align-items: center;
    height: var(--menu-size);
    width: var(--menu-size);
    right: -700px;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;

  }

}

@media screen and (max-width: 1200px) 
{
  .container-menu-burger{
    --menu-size: 48px;
    position: relative;
    display: flex;
    align-items: center;
    height: var(--menu-size);
    width: var(--menu-size);
    right: -700px;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;

  }

}

@media screen and (max-width: 1100px) 
{
  .container-menu-burger{
    --menu-size: 48px;
    position: relative;
    display: flex;
    align-items: center;
    height: var(--menu-size);
    width: var(--menu-size);
    right: -700px;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;

  }

}

@media screen and (max-width: 1000px) 
{
  .container-menu-burger{
    --menu-size: 48px;
    position: relative;
    display: flex;
    align-items: center;
    height: var(--menu-size);
    width: var(--menu-size);
    right: -700px;
    font-family: Arial, Helvetica, sans-serif;
    flex-direction: column;

  }

}






  
  .blocoAmareloCima {
    box-sizing: border-box;
    margin-top: 5px;
    width: 100%;
    background-color: #12932a;
  }
  .blocoAzulCima {
    bottom: 50;
    width: 100%;
    height: 30px;
    background-color:white;
  }
  .auto-group-tkzx-fmH {
    margin-left: 37.7rem;
    width: 19.6rem;
    height: 11.5rem;
    position: relative;
  }
  
  .divTitulo {
    width: 19.6rem;
    height: 3.9rem;
    position: absolute;
    left: 0;
    top: 7.6rem;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.1975;
    letter-spacing: 1.376rem;
    color: #6d460c;
    font-family: Inria Sans, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: baseline;
  }
  
    /*Titulo logo: Biometric*/
  .titulo1 {
    width: 16.5rem;
    height: 8.1rem;
    position: absolute ;
    left: -20rem;
    bottom: 3rem;
    font-size: 6.4rem;
    font-weight: 400;
    line-height: 1.2575;
    color:#FFA404
    ;
    font-family: Baloo, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    right: -100px;
    z-index: 7;
  }

    /*Subtitulo logo: Call*/
  .titulo2 {
    width: 16.5rem;
    height: 8.1rem;
    position: absolute ;
    left: -20rem;
    top: 7rem;
    font-size: 6.4rem;
    font-weight: 400;
    line-height: 1.2575;
    color: #613a07;
    font-family: Baloo, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    right: -100px;
    z-index: 7;

  }
 
  .blocoAzulMeio {
    width: 100%;
    height: 30px;
    background-color: white;
    flex-shrink: 0;
    box-shadow: 0px 5px 5px 0px  #525252;
  }

  /*Texto-Link Banner*/
  .txtBanner{
    cursor: pointer;
    margin-left:8%;
    max-width: 15.1rem;
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2125;
    color:#FFA404;    ;
    text-decoration: none; /* Remover o sublinhado padrão dos links */
  transition: color 0.3s, transform 0.3s; /* Adicionar uma transição suave para a cor do texto */
     width: auto;
    font-family: Inter, 'Source Sans Pro';
    flex-shrink: 0;
    
  }
  .txtBanner:hover {
    color: #6D460C; /* Alterar a cor do texto dos links quando o mouse passa por cima */
    transform: scale(1.1); /* Aumentar ligeiramente o tamanho do link ao passar o mouse */
   
}

.divRodape {
  width: 100%;
  height: 14.7rem;
  position: relative;
  flex-shrink: 0;
}
.blocoAmareloRodape {
  width: 100%;
  height: 11.8rem;
  position: absolute;
  left: 0;
  top: 2.9rem;
  background-color: white;
}
.blocoAzulRodape {
  width: 100%;
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: white;
  box-shadow: 0px -5px 5px 0px  #525252;

  
}

/*Div do banner*/
.blocoAmareloLinks {
  box-sizing: border-box;
  padding-bottom: 1.9rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  flex-shrink: 0;
}
.div1 {
  margin: 0rem 29.9rem 0rem 37.7rem;
  width: calc(100% - 67.6rem);
  height: 11.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.div2 {
  margin-right: 11.9rem;
  width: 18.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}

/*texto e caixa de texto*/
  .txtCad {
    font-size: 3.2rem;
    font-weight: 700;
    color: #ffffff;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }

  .txt{
    margin: 0rem 0rem 32.6rem 0.3rem;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #ffffff;
    font-family: 'Inter', 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }

  .txtNome {
    margin-bottom: 4px;
    margin-left: 75px;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #ffffff;
    font-family: 'Inter', 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .txtEmail {
    margin-bottom: 4.7rem;
    box-sizing: border-box;
    padding: 2rem 2rem 1.9rem 2rem;
    width: 50%;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #525252;
    font-family: 'Inter', 'Source Sans Pro';
    white-space: nowrap;
    background-color: #ffffff;
    border-radius: 2rem;
    flex-shrink: 0;
  }
  .txtSenha {
    margin-bottom: 7.8rem;
    box-sizing: border-box;
    padding: 2rem 2rem 1.9rem 2rem;
    width: 50%;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #525252;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    background-color: #ffffff;
    border-radius: 2rem;
    flex-shrink: 0;
  }

  .linkCon {
    margin-left: 1.4rem;
    cursor: pointer;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.2102272851;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    display: flex;
    align-items: baseline;
    flex-shrink: 0;
  }
  .txtJTC {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
  }
  
  .txtCon {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #1236b5;
    font-family: Inter, 'Source Sans Pro';
  }
  
.txtBoxNome {
  margin-bottom: 4.7rem;
  box-sizing: border-box;
  padding: 2rem 2rem 1.9rem 2rem;
  width:35%;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.2125;
  color: #525252;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  background-color: #ffffff;
  border-radius: 2rem;

  flex-shrink: 0;
}
.txtCurso {
  margin-top:1px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.txtSerie {
  margin: 0rem 8rem 0.5rem 0rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.txtNomeAluno {
  margin-bottom: 4px;
  margin-left: 75px;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: white;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.txtDigital
 {
  width: 34.5rem;
  height: 3rem;
  position: absolute;
  left: 7.3rem;
  top: 31.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.txtBoxNome {
  margin-top: 15px;
  width: 48.6rem;
  height: 5.9rem;
  position: absolute;
  left: 6rem;
  top: 2rem;
  border-radius: 2rem;
}
/*caixa de texto do nome*/
.digitarnome{
  padding-left: 5px;
  margin-top: -20px;
  width: 48.6rem;
  height: 5.9rem;
  position: absolute;
  left: 0rem;
  top: 2rem;
  background-color: #ffffff;
  border-radius: 2rem;
  font-size: 20px; /* Defina o tamanho da fonte desejado */
  font-weight: bold; /* Deixa o texto em negrito */
}
.txtBoxNomeA{
  margin: 0.6rem 0;
 padding: 0.10rem 12.2rem;
 border:none;
 border-radius: 10px;
 box-shadow: 1px 1px 6px #000000c1; 
 font-size: 1.8rem;
}


  /*divs*/
  .divForm {
    box-sizing: border-box;
    padding: 2.6rem 47.7rem 10.7rem 47.7rem;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
  }

  .divMeio {
    width: 100%;
    height: 60rem;
    position: relative;
    flex-shrink: 0;
  }
  .divRB {
    width: 57.6rem;
    height: 3.7rem;
    position: absolute;
    left: 7.2rem;
    top: 15.6rem;
    display: flex;
    align-items: center;
  }
  .divFormCad {
    width: 100%;
    height: 60rem;
    position: relative;
    flex-shrink: 0;
  }
  .ladoLado {
    width: 86.8rem;
    height: 3.5rem;
    position: absolute;
    left: 7.3rem;
    top: 10.8rem;
    display: flex;
    align-items: center;
  }

  /*radio buttons*/
  .rbDs {
    margin-top: 0.6478rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .rb2 {
    margin: 0rem 34.9rem 0.352rem 0rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .rbLog {
    margin-top: 0.6739rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .rb3 {
    margin: 0rem 34.8rem 0.326rem 0rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .rbAdm {
    margin-top: 0.7rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  }
  .rb1 {
    margin: 0rem 34.9rem 0.352rem 0rem;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.2125;
    color: #000000;
    font-family: Inter, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
  } 
  
  
/*botões*/

.button {
  width: 48rem;
  height: 5.4rem;
  position: absolute;
  left: 48.9rem;
  top: 51.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecf5e0;
  border-radius: 2rem;
}
.btnCad {
  margin: 0rem 0rem 2.7rem 0.6rem;
  width: 50%;
  height: 5.4rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecf5e0;
  border-radius: 2rem;
  flex-shrink: 0;
}


/*grupos*/
.auto-group-hgg7-vqS {
  width: 55.2rem;
  height: 3.6478rem;
  position: absolute;
  left: 7.2rem;
  top: 19.7522rem;
  display: flex;
  align-items: center;
}
.auto-group-uawh-Vrc {
  width: 56.8rem;
  height: 3.6739rem;
  position: absolute;
  left: 7.2rem;
  top: 23.8261rem;
  display: flex;
  align-items: center;
}

/*icones*/
.icon-radiobutton-TKa {
  margin: 0rem 1.115rem 0.749rem 0rem;
  width: 2.9847rem;
  height: 2.8987rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.icon-radiobutton-hzc {
  margin: 0.251rem 1.115rem 0rem 0rem;
  width: 2.9847rem;
  height: 2.8987rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.icon-radiobutton-4HS {
  margin: 0.225rem 1.115rem 0rem 0rem;
  width: 2.9847rem;
  height: 2.8987rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.icon-radiobutton-pdz {
  margin: 0rem 1.115rem 0.775rem 0rem;
  width: 2.9847rem;
  height: 2.8987rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.icon-radiobutton-avg {
  margin: 0rem 1.115rem 0.801rem 0rem;
  width: 2.9847rem;
  height: 2.8987rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.icon-radiobutton-pa8 {
  margin: 0.199rem 1.115rem 0rem 0rem;
  width: 2.9847rem;
  height: 2.8987rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

.biometria-xq5 {
  width: 80px;
  height: 80px;
  margin-top: 350px;
  margin-left: 80px;
}

.apagaraluno-rkf {
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #abcfd8;
}
.banner-bTM {
  margin-bottom: 9.4rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.auto-group-n5gj-YNb {
  margin-right: 21.8rem;
  box-sizing: border-box;
  padding-bottom: 1.9rem;
  width: 170.9rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffa404;
  flex-shrink: 0;
}
.blocoazul-sQs {
  width: 100%;
  height: 28.5rem;
  background-color: #40a2e3;
  flex-shrink: 0;
}
.divTxtBanner {
  margin: 0rem 29.9rem 0rem 37.7rem;
  width: calc(100% - 67.6rem);
  height: 11.5rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.auto-group-mwn3-YG7 {
  margin-right: 11.9rem;
  width: 18.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.titulo-tKy {
  width: 18.5rem;
  height: 3.9rem;
  position: absolute;
  left: 0;
  top: 7.6rem;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.2125;
  letter-spacing: 1.056rem;
  color: #6d460c;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
}
.titulo-AoH {
  width: 16.5rem;
  height: 8.1rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 6.4rem;
  font-weight: 400;
  line-height: 1.2575;
  color: #ffffff;
  font-family: Baloo, 'Source Sans Pro';
  white-space: nowrap;
}
.cadastraraluno-H7D {
  margin: 1.8rem 6.1rem 0rem 0rem;
  max-width: 15.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.verificarchamada-z1d {
  margin: 1.8rem 6.5rem 0rem 0rem;
  max-width: 12.9rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.atualizaraluno-t71 {
  margin: 1.8rem 7.9rem 0rem 0rem;
  max-width: 14.3rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.apagaraluno-bXD {
  margin-top: 1.8rem;
  max-width: 10.1rem;
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #6d460c;
  font-family: Inter, 'Source Sans Pro';
  flex-shrink: 0;
}
.blocoazul-7Ef {
  margin-left: 21.8rem;
  width: 170.9rem;
  height: 3rem;
  background-color: #40a2e3;
  flex-shrink: 0;
}
.digite-o-cdigo-do-aluno--SXq {
  margin-right: 11.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.auto-group-ljkm-xm5 {
  width: 100%;
  height: 54.8rem;
  position: relative;
  flex-shrink: 0;
}
.btnapagar-iVM {
  width: 480px;
  height: 5.4rem;
  position: absolute;
  left: 25%;
  top: 30.1rem;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ecf5e0;
  border-radius: 2rem;
}
.txtApagar {
  width: 44.7rem;
  height: 3rem;
  position: absolute;
  left: 28%;
  top: 11.4rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: 'Inter', 'Source Sans Pro';
  white-space: nowrap;
  margin-right: 450px;
}
.rbsim-6Vu {

  height: 3.2rem;
  position: absolute;
  left: 28%;
  top: 16.2rem;
  display: flex;
  align-items: flex-start;
}
.vector-pwh {
  margin-right: 1.1153rem;
  width: 2.9847rem;
  height: 2.8987rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.rbSim {
  margin-top: 0.2rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: 'Inter', 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.rbnao-hEo {
  width: 9.5rem;
  height: 3.0478rem;
  position: absolute;
  left: 28%;
  top: 20.3522rem;
  display: flex;
  align-items: flex-start;
}
.vector-qbu {
  margin-right: 1.1153rem;
  width: 2.9847rem;
  height: 2.8987rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.rbNao {
  
  margin-top: 0.0478rem;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2125;
  color: #ffffff;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.txtcod-KX5 {
  width: 48.6rem;
  height: 5.9rem;
  position: absolute;
  left: 47.5rem;
  top: 2.1rem;
  background-color: #ffffff;
  border-radius: 2rem;
}
.rodape-Srb {
  margin-bottom: 10.4rem;
  width: 170.9rem;
  height: 14.7rem;
  position: relative;
  flex-shrink: 0;
}
.blocoamarelo-bDh {
  width: 144rem;
  height: 11.8rem;
  position: absolute;
  left: 0;
  top: 2.9rem;
  background-color: #ffa404;
}
.blocoazul-8UX {
  width: 170.9rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #40a2e3;
}
.btnduvida-H6X {
  margin-left: 354rem;
  width: 8.5rem;
  height: 8.3rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}

/*cadastrar professor*/
.txtCALL {
  position: absolute;
  left: 520px;
  top: 430px;
  overflow-wrap: break-word;
  font-family: 'Inria Sans', 'Roboto Condensed';
  font-weight: 700;
  font-size: 32px;
  letter-spacing: 13.8px;
  color: #6D460C;
}
.txtBio {
  position: absolute;
  left: 317px;
  top: 353px;
  overflow-wrap: break-word;
  font-family: 'Baloo', 'Roboto Condensed';
  font-weight: 400;
  font-size: 64px;
  color: #FFFFFF;
}
.divAmarelaCentro {
    width: 55%;
    left:0%;
    top: 0%;
    bottom: 0%;
    background-color: #FFA404;
    position: absolute;
}
.logo {
  background: url('https://fn12.com/api/clusters/cluster-fn12-prod-us-west1/projects/3peSmWhZvTYA8Wp7QmLUfv/assets/images/6f8da9ee0723107a66ac17aa00a1237298de2f39?Expires=1711047331&KeyName=fn12-cdn&Signature=XlqakQsxVfJ0ijydUj81mdieRF4=') 50% / cover no-repeat;
  position: absolute;
  left: -120px;
  top: 224px;
  width: 500px;
  height: 500px;
  z-index: 7;                 

}
.txtConectar {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.333;
  color: #1337B6;
  margin-top: 30px;
  position: relative;
}

.txtConta {
  width: 486px;
  font-family: 'Inter';
  font-weight: 486px;
  font-size: 14px;
  line-height: 1.333;
  color: #000000;
  position: relative;
}

.divConta
{
position: absolute;
width: 500px;
height: 30px;


}

.divAzulCentro {
  background: #ABCFD8;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 150px 68px 244px 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  position: relative;
  
}
.divCadastrar {
  margin-left: 55%;
  display: inline-block;
  align-self: center;
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 32px;
  color: #FFFFFF;
}
.txtBtnProfessor {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 700;
  font-size: 18px;
  color: #000000;
}
.txtNP {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #535353;
  display: flex;
  justify-content: left;
  align-items: center;
}
.txtBoxNP {
  border-radius: 20px;
  background: #FFFFFF;
  margin-bottom: 4px;
  padding: 20px;
  width: 486px;
  box-sizing: border-box;
  height: 60px;
}
.h1{
  font-size:15px;
}
.txtBoxEP {
    border-radius: 20px;
  background: #FFFFFF;
  margin-top: 45px;
  padding: 20px;
  width: 486px;
  box-sizing: border-box;
  height: 60px;
}
.txtEP {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #535353;
  display: flex;
  justify-content: left;
  align-items: center;
}
.txtBoxSP {
  border-radius: 20px;
  background: #FFFFFF;
  margin-top: 50px;
  padding: 20px;
  width: 486px;
  box-sizing: border-box;
  height: 60px;
}
.txtSP {
  overflow-wrap: break-word;
  font-family: 'Inter';
  font-weight: 400;
  font-size: 16px;
  color: #535353;
  display: flex;
  justify-content: left;
  align-items: center;
}
.btnCadProfessor {
  border-radius: 20px;
  background: #ECF5E0;
  position: relative;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 16px 6px 16px 0;
  width: 480px;
  box-sizing: border-box;
}
.logo{
  margin-left: -270px ;
  margin-top: -330px;
  width: auto;
  height: 200px;
  
}
.digitarnomeatt{
  margin-top: -20px;
  width: 48.6rem;
  height: 5.9rem;
  position: absolute;
  left: 0rem;
  top: 2rem;
  background-color: #ffffff;
  border-radius: 2rem;
  font-size: 20px; /* Defina o tamanho da fonte desejado */
  font-weight: bold; /* Deixa o texto em negrito */
}
.negritocd {
  font-weight: bold;
  font-size: 20px; 
  padding: 16px;
  width: 480px;
  border-radius: 20px;
  background-color: #ffffff;
  border: 2px solid #000000; /* Adiciona uma borda preta */
  transition: all 0.3s ease; /* Adiciona transição suave para mudanças */
}

/* Efeito de hover */
.negritocd:hover {
  background-color: #f0f0f0; /* Muda a cor de fundo ao passar o mouse */
  border-color: #333333; /* Muda a cor da borda ao passar o mouse */
  cursor: pointer; /* Altera o cursor ao passar o mouse */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Adiciona uma sombra ao botão */
}


.digitarID{
  margin-bottom: 4px;
  margin-left: 7px;
  font-size: 2.4rem;
  border-radius: 20px;
  font-weight: 700;
  line-height: 1.2125;
  color: #000000;
  font-family: Inter, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
  text-align: center;
}






